@keyframes blink{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1%;
    }
  }

  @keyframes fade_move_down {
    0% {
          transform: translate(0, -20px) rotate(45deg);
          opacity: 0;
    }
    50% {
          opacity: 1;
    }
    100% {
          transform: translate(0, 20px) rotate(45deg);
          opacity: 0;
    }
}

html , body {
    background-color: #141414;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

a,p,h1,h2,h3,h4,h5,span {
    font-family: 'Roboto Mono', monospace;
}

header .logo {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 550;
    font-size: 18px;
    margin: 25px 75px;
    display: inline-block;
}

#resize {
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    display: flex !important;
    flex-direction: column;
    left: 38%;
    width: 100% !important;
    height: 100vh;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
    background: #141414;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: #fff;
    background-color: #141414;

}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}

.rightside {
    float: right;
    margin: 25px 75px;
}

.rightside ul {
    margin: 0;
}

.rightside ul li {
    float: right;
    list-style: none;
    padding: 0 15px; 
}

.rightside ul li a {
    color: white;
    font-family: 'Roboto Mono', monospace;
   font-weight: 400;
   font-size: 16px;
   text-decoration: none;
}

.typing {
    line-height: 24px;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    color: #FFF;
    min-width: 1px;
    min-height: 24px;
    font-size: 32px
 }

.typing:after {
    content: "";
    position: absolute;
    top: 5%;
    right: -2px;
    width: 1px;
    height: 90%;
    border-right: 2px solid #FFF;
    animation: blink .5s infinite ease;
}

.typing-effect .text {
    color: #141414;
    font-family: 'Roboto Mono', monospace;
    padding: 1px;
    margin: 0 5px;
    background: white;
    font-size: 32px
}


.typing-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

main {
    display: flex;
    flex-direction: column;
}

main .scroll {
    margin-top: 70px;
    display: flex;
    justify-content: center;



}

.scroll img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.projects {
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    position: relative;
}

.projects p {
    color: white;
    text-align: center;
}


body::-webkit-scrollbar {
    width: 7px;
} 

body::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    border-radius: 2%;
    opacity: 0.5;
}

.vl {
    border-left: 3px solid white;
    height: 50px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.project {
    width: 100%;
    height: 450px;
    background: white;
    margin: 15px 0px;
}

.project1 {
    background: #141414;
    position: relative;
}

.project1 img {
    width: 420px;
    z-index: -1;
    float: right;
    margin-right: 50px; 
    transition: all 0.3s;
}

.project1 .pr-title {
    color: white;
    text-decoration: none;
    top: 30%;
    right: 30%;
    position: absolute;
    z-index: 99999;
    font-size: 20px;
    font-weight: 500;

}

.project2 {
    background: #141414;
    position: relative;
}

#toggle {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#menu {
    float: left;
    right: 80px;
    height: 100vh;
    max-width: 700px;
    width: auto;
    position: fixed;
    background: #141414;
    z-index: 99999;
}

 #menu li {
    position: absolute;
    z-index: 99999;
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    position: relative;
    transition: all 0.3s ease-out;
    font-size: 28px;
    background-color: #141414;
}

 #menu li span {
    font-weight: 700;
    font-size: 28px;
}

 #menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 9999999999999999999;
    cursor: pointer;
    background-color: #141414;
    padding: 7px;
    top: -2px;
    line-height: 80px;
    color: white;
    font-family: 'Roboto Mono'
}

 #menu li a:hover {
    text-decoration: none;
}

.project2 img {
    width: 600px;
    z-index: -1;
    float: left;
    margin-left: -50px; 
    margin-top: 45px;
    transition: all 0.3s;
}

.project2 .pr-title {
    color: white;
    text-decoration: none;
    top: 60%;
    left: 35.8%;
    position: absolute;
    z-index: 99999;
    font-size: 20px;
    font-weight: 500;

}

.project3 {
    background: #141414;
    position: relative;
}

.project3 img {
    width: 420px;
    z-index: -1;
    float: right;
    margin-right: 90px;
    margin-top: 25px;
    transition: all 0.3s;
}

.project3 .pr-title {
    color: white;
    text-decoration: none;
    top: 20%;
    right: 35%;
    position: absolute;
    z-index: 99999;
    font-size: 20px;
    font-weight: 500;
}


.project4 {
    background: #141414;
    position: relative;
}

.project4 img {
    width: 600px;
    z-index: -1;
    float: left;
    margin-left: -50px; 
    margin-top: 90px;
    transition: all 0.3s;
}

.project4 .pr-title {
    color: white;
    text-decoration: none;
    top: 70%;
    left: 40%;
    position: absolute;
    z-index: 99999;
    font-size: 20px;
    font-weight: 500;


}

.projects img:hover {
    opacity: 0.7;
}


footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .contact-footer {
    float: right;
    color: white;
    text-decoration: none;
    margin: 0 75px;
    padding-bottom: 25px;
}

hr {
    width: 90%;
    opacity: 0.7;
}

.foot-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow:2;
    margin: 7px 70px;
}

.foot-left {
    width:500px;
    height: 150px;
    background: #141414;
    display: flex;
    flex-direction: column;

}

.foot-center {
    width:500px;
    height: 150px;
    background: #141414;
    display: flex;
    flex-direction: column;
    direction:rtl;
}

.foot-center .title {
    color: white;
    opacity: 0.6;
}


.foot-right .title {
    color: white;
    opacity: 0.6 !important;
}

.foot-left .title {
    color: white;
    opacity: 0.6 !important;
}

.foot-right {
    width:500px;
    height: 150px;
    background: #141414;
    display: flex;
    flex-direction: column;
    direction:rtl;
}



.foot-right .title {
    color: white;
    opacity: 0.6;
}

.foot-right .sub {
    color: white;
    opacity: 0.8;

    margin: 0;
    text-align: center;
}


.foot-center .title {
    color: white;
    opacity: 0.6;
}


.foot-center .sub p {
    display: contents;
    padding: 0;
    margin: 0;
}

.tw {color: cornflowerblue}
.ig {color: crimson}
.tg{color: dodgerblue}

.foot-center .sub a {
    color: white;
    opacity: 0.8;
    display: -webkit-inline-box;
    padding: 0 6px;
    margin: 0;
    text-decoration: none;
}



.foot-left .title {
    color: white;
    opacity: 0.6;
}

.foot-left .sub a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    margin: 0;
}

footer {

    overflow: hidden;
}

#drawing_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    color: #141414;
    opacity: 1;
    background-color: #141414;
    z-index: 99;
    text-align: center;
}

.span {
    color: white;
    font-family: 'Roboto Mono'
}

@media (max-width: 1024px) {
    .project1 .pr-title {
        right: 40%
    }

    .project2 .pr-title {
        left: 55%
    }

    .project3 .pr-title {
        right: 51%
    }

    .project4 .pr-title {
        left: 55%
    }
}

@media (min-width: 1025px) and (max-width: 1358px) {
    .project1 .pr-title {
        right: 40%
    }

    .project2 .pr-title {
        left: 55%
    }

    .project3 .pr-title {
        right: 51%
    }

    .project4 .pr-title {
        left: 55%
    }

}

@media (min-width: 772px) {
    #resize {
        visibility: hidden !important;
        display: none;
    }
    #toggle {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 772px) {

    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
}

#resize li span {
    font-weight: bolder;
}

   #menu {
    display: none;
}

    .rightside {
        display: none;
    }

    .project1 .pr-title {
        right: 40%;
        margin-right: 0;
    }


    .project1 img {
        width: 320px
    }

    .project2 .pr-title {
        left: 56%
    }

    .project2 img {
        width: 470px
    }

    .project3 .pr-title {
        right: 43%
    }

    .project3 img {
        width: 320px
    }

    .project4 .pr-title {
        left: 56%;
        top: 55%;
    }

    .project4 img {
        width: 470px
    }
}


@media (min-width: 320px) and (max-width: 480px) {
  
    .rightside {
        display: none;
    }

    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
  }

    #plain-text span{
        font-size: 24px;
    }

    #plain-text div{
        font-size: 24px;
    }

    .project1 {
        margin: 8px 0 !important;
        margin-top: 45px !important; 
    }

    .project2 {
        margin: 8px 0 !important;
    }

    .project3 {
        margin: 8px 0 !important;
    }

    .project4 {
        margin: 8px 0 !important;
    }


    .project1 .pr-title {
        right: 40%;
        top: 16%;
    }


    .project1 img {
        width: 250px;
        margin-right: 18px;
    }

    .project2 .pr-title {
        left: 54%
    }

    .project2 img {
        width: 350px
    }

    .project3 .pr-title {
        right: 43%;
        top: -5%;
    }

    .project3 img {
        width: 220px;
        margin-right: 15px;
    }

    .project4 .pr-title {
        left: 56%;
        top: 55%;
    }

    .project4 img {
        width: 340px
    }

    .foot-boxes {
        flex-direction: column !important;
        margin: 0;
        justify-content: center !important;
        position: absolute;
        margin: 0 auto;
        left: 30%;
    }

    .foot-right  .sub {
        font-size: 11px;
    }

    .foot-right {
        margin-bottom: 60px;
        width:166px;
        text-align: center;
    }

    .foot-left {
        width:166px;
        text-align: center;
    }

    .foot-center {
        width:166px;
        text-align: center;
    }
    
}